@font-face {
  font-family: "Citizenly Inter";
  src: url("./assets/InterVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: block;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  background: #f7f6f2;
}
